{% extends 'base.html' %}

{% block main_content %}
<div style= "margin-right: 10%; font-size: larger;">
    <h2>Hello Librarian!</h2>
    <p>The purpose of this website is to allow the librarian to operate the library. This includes features like adding new books and users to database, issuing and returning of books and viewing book details.</p>
    <p>There is additional functionality to search for books and users, and a page to view all recent transactions in the library.</p>
    <p>The buttons on the life side of the page will help you perform any of the above tasks. This page will not be shown again.</p>
    <p>Thanks for using!</p>
</div>
{% endblock %}